/*********************************************************************************************************/
.td_subject {
	cursor: pointer;
}
/*********************************************************************************************************/

.mu_container {
    /* padding-left: 68px; */
    position: relative;
}
.mu_container h2 {
    font-size: 23px;
    font-weight: bold;
    letter-spacing: -1.2px;
    padding-bottom: 24px;
    line-height: 1;
} 
.mu_container h2 .en {
    font-size: 33px;
    font-weight: 600;
    vertical-align: initial;
    vertical-align: -3px;
} 
.mu_container .contents {
    padding: 30px 40px;
    position: relative;
    max-height: calc(100vh - 68px);
}
.mu_container section {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    background: #fff;
}
.mu_container section + section {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(0,0,0,0.1);
}


/* 공통 */
.mu_container .user {
    overflow: visible;
}
.mu_container .user .status {
    width: 8px;
    height: 8px;
    top: auto;
    left: auto;
    bottom: 2px;
    right: 0px;
    background: #b3b3b3;
    border: 2px solid #fff;
    box-sizing: content-box;
}
.mu_container .user .status.online {
    background: #5fbd32;
}
.mu_container .user  .status.away {
	background: #ffca28;
}
.mu_container .user  .status.deny {
	background: #f44336;
}

.mu_container .user .status:before,
.user .status:after {
    display: none;
}

/* 상태값  */
.mu_container .state {
    position: relative;
    border-radius: 5px;
}
.mu_container .state + .state {
    margin-top: 5px;
}
.mu_container .state:before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1px;
}
.mu_container .state_atte {
    background: #d8e8ff;
}
.mu_container .state_atte:before {
    background: #77a9fe;
}
.mu_container .state_work {
    background: #fdf5d9;
}
.mu_container .state_work:before {
    background: #f39562;
}
.mu_container .state_pers {
    background: #ffeae7;
}
.mu_container .state_pers:before {
    background: #ec5f78;
}
.mu_container .state .en {
    font-weight: 600;
}

/* tab */
.mu_container .tab_wr li {
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    cursor: pointer;
}
.mu_container .tab_wr li:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    transform: translateY(-50%);
    left: 0;
    background: transparent;
    transition: all .3s ease;
}
.mu_container .tab_wr li.on,
.mu_container .tab_wr li:hover {
    color: #000;
}
.mu_container .tab_wr li + li {
    margin-left: 50px;
}
.mu_container .tab_wr li + li:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    background: #e5e5e5;
}
.mu_container .tab_wr li .num {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: 3px 8px 4px;
    border-radius: 8px;
    background: #a4a4a4;
    line-height: 1;
    margin-left: 3px;
    transition: all .3s ease;
    letter-spacing: -0.5px !important;
}
.mu_container .tab_wr + .sel_box {
    margin-top: -12px;
}

/* step_wr */
.mu_container .step_wr {
    width: calc(100% - 137px);
    /* max-width: 1640px; */
}
.mu_container .step_wr .step {
    height: 126px;
    padding: 20px 25px;
    background: #f1f2fa;
    border-radius: 25px;
    width: 25%;
    position: relative;
}
.mu_container .step_wr .step + .step {
	margin-left: 12px;
}
.mu_container .step_wr .step:before,
.mu_container .step_wr .step.on:before {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 21.6px 5.4px rgba(0, 0, 0, 0.05);
    background: #fff;
    top: 50%;
    right: 0;
    transform: translate(65%, -50%);
    z-index: 9;
}
.mu_container .step_wr .step:after,
.mu_container .step_wr .step.on:after {
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 12px;
    background: url(../../images/common/sprite_img.png) no-repeat -44px -95px;
    top: 50%;
    right: 0;
    transform: translate(160%, -50%);
    z-index: 9;
}
.mu_container .step_wr .step.on:before,
.mu_container .step_wr .step.on:after {
    left: auto;
    right: 0;
    transform: translate(60%, -50%);
    z-index: 3;
}
.mu_container .step_wr .step.on:after {
    transform: translate(140%, -50%);
}
.mu_container .step_wr .step.popup:before,
.mu_container .step_wr .step.popup:after {
    display: none;
}
/* .mu_container .step_wr .step.on.n4:before, */
/* .mu_container .step_wr .step.on.n4:after { */
/*     display: none; */
/* } */
.mu_container .step_wr .step.on.n1 .cont {
    display: inline-block;
    position: relative;
}
.mu_container .step_wr .step.on.n1 .cont:after {
    background: url(../../images/common/sprite_img.png) no-repeat -35px -279px;
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 18px;
    top: 50%;
    right: -7px;
    transform: translate(100%, -50%);
}
.mu_container .step_wr .step .sub {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    padding: 5px 9px;
    line-height: 1.1;
    display: inline-block;
    background: #515fc0;
}
.mu_container .step_wr .step .cont {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    word-break: keep-all;
    margin-left: 3px;
}
.mu_container .step_wr .step.on .sub {
    background: #fff;
}
.mu_container .step_wr .step.on .cont {
    color: #fff;
}
.mu_container .step_wr + .btn_wr {
    width: 125px;
    height: 125px;
    border-radius: 30px;
    box-shadow: 0px 2px 21.6px 5.4px rgba(0, 0, 0, 0.05);
    text-align: center;
    position: relative;
    transition: all .3s ease;
}
.mu_container .step_wr + .btn_wr.act:hover {
    box-shadow: 0px 2px 21.6px 5.4px rgba(0, 0, 0, 0.1);
}
.mu_container .step_wr + .btn_wr .complete_btn {
    opacity: 0.3;
    transition: all .3s ease;
    font-size: 16px;
    font-weight: 800;
    padding-top: 40px;
    width: 100%;
    height: 100%;
    cursor: default;      
    opacity: 1;
}

.mu_container.meeting .step_wr + .btn_wr .complete_btn {
    opacity: 1;
    transition: all .3s ease;
    font-size: 16px;
    font-weight: 600;
    padding-top: 40px;
    width: 100%;
    height: 100%;
    cursor: default;
    overflow: hidden;
}
.mu_container.meeting .step_wr + .btn_wr.finish .complete_btn {
	cursor: pointer;	
}

.mu_container .step_wr + .btn_wr .complete_btn:before {
    background: url(../../images/common/sprite_img.png) no-repeat -40px -124px;
    content: '';
    display: block;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;  
    z-index: 1;  
}

.mu_container .step_wr + .btn_wr .complete_btn {
    opacity: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    z-index: 1;
}

.mu_container.mu_gathering .step_wr + .btn_wr .complete_btn {
    opacity: 1;
    cursor: default;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    z-index: 1;
}
.mu_container.mu_gathering .step_wr + .btn_wr.finish .complete_btn {
	cursor: pointer;	
}

.mu_container.meeting .step_wr + .btn_wr .complete_btn:before {
    background: url(../../images/common/sprite_img.png) no-repeat -590px -262px;
}

.mu_container.meeting .step_wr + .btn_wr.finish .complete_btn:before {
    background: url(../../images/common/sprite_img.png) no-repeat -625px -262px;
    z-index: 1;
}

.mu_container.mu_gathering .step_wr + .btn_wr.finish .complete_btn:before {
    background: url(../../images/common/sprite_img.png) no-repeat -805px -336px;
    z-index: 1;
}

.mu_container.meeting .btn_wr .complete_finish{
	display: block;
}

.complete_btn span{
	z-index: 1;
}

.mu_container .step_wr + .btn_wr.finish .complete_btn span{
	color: #fff;
	transition: all 1s;
}

.mu_container.meeting .step_wr + .btn_wr .complete_btn .complete_finish{
  width: 0;
  height: 125px;
  display: block;
  color: #fff;
  background-color: #323f9c;
  border-radius: 30px;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;
  position: absolute;
  overflow: hidden;
}

.mu_container.meeting .step_wr + .btn_wr.finish .complete_btn .complete_finish{
  width: 100%;
  transition: all 1s;
}


.mu_container.meeting .step_wr + .btn_wr .complete_btn .complete_finish::before{
/* 	background: url(../../images/common/sprite_img.png) no-repeat -136px -52px; */
    content: '';
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
}

.mu_container.meeting .step_wr + .btn_wr .complete_btn{
	position: relative;
}

.mu_container .step_wr + .btn_wr .complete_btn::after {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  background-color: #323f9c;
  left: -100%;
  top: 0;
  position: absolute;  
  /* padding-bottom: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden; */
  content: "";  
}

.mu_container.mu_gathering .step_wr + .btn_wr .complete_btn::after {    
  background-color: #5f1f7b;
}

.mu_container.meeting .step_wr + .btn_wr.finish .complete_btn::after,
.mu_container .step_wr + .btn_wr.finish .complete_btn::after {
  left: 0;
  transition: all 1s;
}

.mu_container .step_wr .step.popup {
    z-index: 1004;
}

/* 셀렉트 박스 */
.mu_header .selectbox_wr, 
.mu_container .selectbox_wr { 
    height: 48px;
    min-width: 183px;
    cursor: pointer;
    z-index: 1;
}  
.mu_header .selectbox,
.mu_container .selectbox { 
    border: solid 1px rgba(0,0,0,.1);
    border-radius: 10px;
    background: #fff;
    text-indent: 25px;
    font-size: 14px;
    font-weight: bold;
} /*
.mu_header .selectbox span,
.mu_container .selectbox span { 
    display: block;
    font-size: inherit;
    font-weight: inherit;
    line-height: 46px;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    line-height: 46px;
    padding-right: 50px;
    position: relative;
} 
.mu_header .selectbox span:after,
.mu_container .selectbox span:after { 
    background: url(../../images/icon/ico_arrow_down_b.png) no-repeat center;
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 7px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} 
.mu_header .selectbox ul,
.mu_container .selectbox ul { 
    padding-bottom: 8px;
} 
.mu_header .selectbox ul li, 
.mu_container .selectbox ul li { 
    font-size: inherit;
    font-weight: inherit;
    color: rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    transition: all .3s ease;
} 
.mu_header .selectbox ul li.act,
.mu_header .selectbox ul li:hover,
.mu_container .selectbox ul li.act,
.mu_container .selectbox ul li:hover { 
    color: #000;
} 
.mu_header .selectbox.act,
.mu_container .selectbox.act {
    border: solid 1px #dedede;
}
.mu_header .selectbox.act span:after,
.mu_container .selectbox.act span:after {
    transform: translateY(-50%) rotate(180deg);
}
.mu_header .selectbox.act ul,
.mu_container .selectbox.act ul {
    display: block !important;
} */

/* table */
.mu_container table:not(.calendar, .nothover) tbody tr:not(.complete):hover {
    border-radius: 20px;
    box-shadow: 0px 2px 21.6px 5.4px rgba(0, 0, 0, 0.04);
}
.mu_container table:not(.calendar) th {
    background: #f7f7f7;
    position: relative;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}
.mu_container table:not(.calendar) th:first-child {
    border-radius: 12px 0 0 12px;
}
.mu_container table:not(.calendar) th:last-child {
    border-radius: 0 12px 12px 0 ;
}
.mu_container table:not(.calendar) th .arr_wr {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}
.mu_container table:not(.calendar) th .arr_wr > div {
    background: url(../../images/common/sprite_img.png) no-repeat -212px -171px;
    width: 7px;
    height: 5px;
    cursor: pointer;
}
.mu_container table:not(.calendar) th .arr_wr .d_arr {
    margin-top: 4px;
    transform: rotate(180deg);	
}
.mu_container table:not(.calendar) th.h0 {
    height: 0;
}
.mu_container table:not(.calendar) td {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
/*    text-transform: uppercase;
    height: 70px; */
    height: 60px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
    position: relative;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.8);
}
.mu_container.new_work_pop table:not(.calendar) td {
	height: 40px;
}
.mu_container table:not(.calendar) td.g_txt {
	color: rgba(0, 0, 0, 0.4);
}
.mu_container table:not(.calendar) td.g_txt_2 {
	color: rgba(0, 0, 0, 0.6);
}
.mu_container table:not(.calendar) td.normal {
    font-weight: normal;
}
.mu_container table:not(.calendar) td.fz800 {
    font-weight: 800;
    color: #000;
}
.mu_container table:not(.calendar) td.fz14 {
	font-size: 14px;
}
.mu_container table:not(.calendar) td.fz15 {
    font-size: 15px;
}
.mu_container table:not(.calendar) td.ta_l {
    text-align: left;
}
.mu_container table:not(.calendar) td.t_overflow {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mu_container table:not(.calendar) td .middot {
    display: inline-block;
    position: relative;
}
/*.mu_container table:not(.calendar) td .middot:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translate(-100%, -50%);
    background: #515fc0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
*/
.mu_container table:not(.calendar) td a.ico {
    display: inline-block;
    width: auto;
    height: auto;
}
/* 페이지네이션 */
.mu_container .pagination_wr {
    text-align: center;
    margin: 30px 0 0;
}
.mu_container .pagination_wr ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
.mu_container .pagination_wr ul li {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;
}
.mu_container .pagination_wr ul li:hover {
    color: #000;
}
.mu_container .pagination_wr ul li.on {
    color: #fff;
    background: #4f4d56;
}
.mu_container .pagination_wr .arrow {
    width: 10px;
    height: 32px;
    background: url(../../images/common/sprite_img.png) no-repeat -30px -84px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-right: 20px;
}
.mu_container .pagination_wr .arrow.next {
    background: url(../../images/common/sprite_img.png) no-repeat -41px -84px;
    margin: 0;
    margin-left: 20px;
}

/* 버튼 */
.mu_container .btn_circle {
    border: 1px solid #e5e5e5;
    border-radius: 50%;
/*     width: 45px; */
/*     height: 45px; */
    width: 41px;
    height: 41px;
    background: url(../../images/common/sprite_img.png) no-repeat 0 0;
    transition: all .3s ease;
}
.mu_container .btn_circle:hover {
    border-color: #000;
}
.mu_container .btn_circle.disabled {
    opacity: 0.3;
}
.mu_container .btn_circle.disabled:hover {
    border-color: #e5e5e5;
    cursor: default;
}
.mu_container .del_btn {
    background-position: -809px -370px;
}
.mu_container .cor_btn {
    background-position: -732px -371px;
}
.mu_container .wri_btn {
    background-position: -769px -371px;
}
.mu_container .copy_btn {
    background-position: -848px -370px;
}

/* 회의예약 장소 연결 버튼 */
#meeting_list_table th {
	padding: 0;
}
.btn-endpoint{
	white-space: nowrap;
	position: relative;
    padding: 5px 10px 5px 26px;
    border-radius: 20px;
    border: 1px solid #e5e5e5;
}
.btn-endpoint:hover{
	border: 1px solid #000;
}
.btn-endpoint:before{
	content: '';
    top: 4px;
    left: 7px;
    position: absolute;
    background: url(../../images/common/sprite_img.png) no-repeat;
    width: 18px;
    height: 18px;
    background-position: -1187px -325px;
}