/*  수정사항 정리
	
.mu_container .ico { 주석처리함 / 채팅방의 ico이 표시되지 않았음
.mu_container .scroll : 주석처리

*/

body {
    min-width: 1200px;
   /* overflow-x: auto;*/
}
body *, * {
   	font-family: 'Quicksand', 'Noto Sans KR', 'Nanum Gothic', 'Malgun Gothic', '맑은고딕', arial, sans-serif; 
  /*  letter-spacing: -0.68px; */
    font-size: 14px;
	color: #000;
 /*   line-height: 1.6;*/
    box-sizing: border-box;
    outline: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { padding: 0;border: 0;font-size: 100%;vertical-align: baseline; } 
article, aside, details, figcaption, figure, main, aside, footer, header, hgroup, menu, nav, section { display: block; } 
button {border:0; padding:0; cursor:pointer; background: none;}
table { border-collapse: collapse;border-spacing: 0;width:100%; } 
img { border: 0; max-width: 100%; vertical-align: middle; } 
a, a:hover, a:focus { text-decoration: none; color: inherit;} 
span, em, strong, b { font-size: inherit; color: inherit; font-family: inherit; } 
/*ul, ol, li { list-style: none; }*/ 
select { -webkit-appearance: none; -moz-appearance: none; appearance: none; } 

.dn { display: none; } 
.dis-no { display: none !important; } 

.mu_header input,
.mu_container input,
.mu_container textarea { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 22px 5px rgba(0, 0, 0, 0.02);
    border: solid 1px #e5e5e5;
    background: #fcfcfc;
    transition: all .3s ease;
} 
.mu_container textarea:focus,
.wrap .mu_header input:focus, 
.wrap .mu_container input:focus { 
    border: solid 1px #fff !important;
    background: #fff !important;
    box-shadow: 0px 2px 22px 5px rgba(0, 0, 0, 0.08) !important;
} 
.mu_container input[type=text],
.mu_container textarea {
    font-size: 14px;
}
.mu_container input::placeholder, select,
.mu_container textarea::placeholder,
.mu_container .input-field input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 13px;
}

/* class */
.mu_container .ico {
   /* background: none; */
}
.mu_container a.ico {
    display: block;
    width: 100%;
    height: 100%;
    background: none;
}
.mu_container .en {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.5px !important;
    line-height: inherit;
}
.mu_container .ko {
    font-family: 'Nanum Gothic', sans-serif;
}
.mu_container .abs {
    position: absolute;
}
.mu_container .rel {
    position: relative;
}
.mu_container .inb {
    font-size: 0;
}
.mu_container .inb>* {
    display: inline-block;
    vertical-align: top;
}
.mu_container .cf:after {
	content:'';
	display:block;
	clear:both;
}
.mu_container .fl {
    float: left;
}
.mu_container .fr {
    float: right;
}
.menu-usermng-wrap .txt {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
    /* font-weight: bold; */
    display: block;
    line-height: 2;
}
.f_center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.f_between {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
}
.f_evenly {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.f_middle {
    display: flex;
    align-items: center;
}
.f_end {
    display: flex;
    justify-content: flex-end;
}
.flex {
    display: flex;
}
.f_col {
    display: flex;
    flex-flow: column;
}
.mu_container .fw800 {
    font-weight: 800 !important;
}

/* scroll */
.mu_container .scroll {
    /*overflow-y: auto;*/
}
 /* width */
.mu_container .scroll::-webkit-scrollbar {
    width: 4px;
}
 /* Track */
.mu_container .scroll::-webkit-scrollbar-track {
    background: #efefef;
}
/* Handle */
.mu_container .scroll::-webkit-scrollbar-thumb {
    background: #4f4d56; border-radius: 3px;
}
.mu_container .scroll::-webkit-scrollbar-thumb:hover {
    background: #4f4d56;
}




/* layout.css 추가하기 */
/* 연한딤 */
#layerDimSoft {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200; 
    background: rgba(0,0,0,0.2);
} 
/* 진한딤 */
#layerDimDark { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background: rgba(0,0,0,0.6);
}
/* 팝업딤 */
#layerDimHard { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    background: rgba(0,0,0,0.6);
}
.mu_container .layer_wrap {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
   /* z-index: 9999;*/
}
.mu_container.layer_wrap {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  /*  z-index: 9999; */
}
.mu_container .layer_wrap.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mu_container.layer_wrap.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mu_container .layer_wrap .layer_inner {
    background: #fff;
    border-radius: 25px;
    padding: 30px;
}
.mu_container.layer_wrap .layer_inner {
    background: #fff;
    border-radius: 25px;
    padding: 30px;
}
.mu_container .layer_wrap h4 {
    font-size: 17px;
    font-weight: 800;
    color: #000;
}
.mu_container.layer_wrap h4 {
    font-size: 17px;
    font-weight: 800;
    color: #000;
}
.mu_container .layer_wrap h5, .mu_container .manual-popup h5{
    font-size: 14px;
    font-weight: 800;
    color: #000;
    margin-bottom: 5px;
}
.mu_container .layer_wrap .layer_cont {
    text-align: center;
    margin-top: 15px;
}
.mu_container .layer_wrap .layer_cont.left, .mu_container .manual-popup .layer_cont.left {
    text-align: left;
    margin-top: 20px;
}
.mu_container .layer_wrap .layer_cont p.tit {
    font-size: 14px;
    font-weight: bold;
}
.mu_container .layer_wrap .layer_cont .input {
    height: 38px;
    padding: 0 15px;
}
.mu_container .layer_wrap .layer_cont .input + .input {
    margin-top: 5px;
}
.mu_container .layer_wrap .layer_cont .textarea, .mu_container .manual-popup .layer_cont .textarea {
    height: 76px;
    width: 100%;
    padding: 5px 15px;
}
.mu_container .layer_wrap .layer_cont .cont_wr + .cont_wr, .mu_container .manual-popup .layer_cont .cont_wr + .cont_wr {
    margin-top: 15px;
}
.mu_container .layer_wrap .btn_wr {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    margin-top: 40px;
}
.mu_container .layer_wrap .layer_cont.left + .btn_wr {
    margin-top: 20px;
}
.mu_container .layer_wrap .btn_wr button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    height: 43px;
    width: 100%;
}
.mu_container .layer_wrap .btn_wr button + button {
    margin-left: 5px;
}
.mu_container .layer_wrap .btn_wr button:nth-child(1) {
    color: rgba(0, 0, 0, 0.7);
    background: #f4f4f4;
}
.mu_container .layer_wrap .btn_wr button:nth-child(2) {
    color: #fff;
    background: #4f4d56;
}
.mu_container .layer_wrap .btn_wr button:nth-child(3) {
    color: #fff;
    background: #ee7158;
}
.mu_container .layer_wrap .type_icon {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    right: 0;
    top: 15px;
    background: #ee7158 url(../../images/common/sprite_img.png) no-repeat -93px -230px;
    cursor: pointer;
}
.mu_container .before_select.f_between .input {
    width: calc(100% - 43px);
}