/* Pretendard 폰트 */
@font-face {
	font-family: 'Pretendard';
	src: url("../fonts/Pretendard-Thin.woff2");
	font-weight: 100;
}
@font-face {
	font-family: 'Pretendard';
	src: url("../fonts/Pretendard-ExtraLight.woff2");
	font-weight: 200;
}
@font-face {
	font-family: 'Pretendard';
	src: url("../fonts/Pretendard-Light.woff2");
	font-weight: 300;
}
@font-face {
	font-family: 'Pretendard';
	src: url("../fonts/Pretendard-Regular.woff2");
	font-weight: 400;
}
@font-face {
	font-family: 'Pretendard';
	src: url("../fonts/Pretendard-Medium.woff2");
	font-weight: 500;
}
@font-face {
	font-family: 'Pretendard';
	src: url("../fonts/Pretendard-SemiBold.woff2");
	font-weight: 600;
}
@font-face {
	font-family: 'Pretendard';
	src: url("../fonts/Pretendard-Bold.woff2");
	font-weight: 700;
}
@font-face {
	font-family: 'Pretendard';
	src: url("../fonts/Pretendard-ExtraBold.woff2");
	font-weight: 800;
}
@font-face {
	font-family: 'Pretendard';
	src: url("../fonts/Pretendard-Black.woff2");
	font-weight: 900;
}