@charset "UTF-8";
@import "./font.css";

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
html, body, body * {
    box-sizing: border-box;
    font-family: "Pretendard";
}
button {
	padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}
ul, li {
    list-style-type: none;
}

::-webkit-scrollbar	{
	width: 5.5px;
	height: 5.5px;
   	border-radius: 15px;
    background: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.55);
    cursor: pointer;
}

/* 왼쪽 배경 영역 */

.wrap {
	height: 100%;
	padding: 3% 2.5%;
}
#loginContainer {
	position: relative;
	display: flex;
	height: 100%;
	border: 1px solid #EAEAEA;
	border-radius: 36px;
	overflow: hidden;
}
#login_bg_wrap {
	position: relative;
	width: 50%;
	padding: 3%;
	border-radius: 36px 0 0 36px;
	background: linear-gradient(180deg, #F8FDFC, #DBF2F0);
}
#login_bg_wrap .bg_info_wrap {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
#login_bg_wrap .logo{
	width: 250px;
	height: 26px;
	background: url("../images/logo.png") center center / cover no-repeat;
}
#login_bg_wrap .bg_info {
    font-size: 3.5em;
    font-weight: 700;
	white-space: pre-line;
	z-index: 1;
}
#login_bg_wrap .bg_info_highlight {
	color: #00A6AB;
}

/* 배경 위 이미지 */
#loginContainer .bg_img {
    position: absolute;
    bottom: 0;
    right: -15%;
    width: 90%;
}

/* 오른쪽 로그인 영역*/
#login_box_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 2%;
    margin: 1%;
    overflow-y: auto;
}

#login_box_wrap .login_content {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#login_box_wrap .title_wrap {
	display: flex;
	flex-direction: column;
    letter-spacing: -0.01em;
}
#login_box_wrap .title {
    color: #090909;
    font-size: 2.8em;
    font-weight: 500;
}
#login_box_wrap .title_desc {
	color: #498c8e;
    font-size: 1.3em;
    font-weight: 400;
}

#login_box_wrap .login_form_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    flex: 1;
    gap: 40px;
}

#login_box_wrap .login_form {
	display: flex;
	flex-direction: column;
    justify-content: center;
	gap: 40px;
	width: 100%;
}
#login_box_wrap .login_input_box {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
#login_box_wrap .label_input {
	color: #93B6B7;
    font-size: 1.1em;
    font-weight: 700;
}
#login_box_wrap .login_input_wrap {
	display: flex;
	height: 60px;
	border: 1px solid #AAAAAA;
	border-radius: 10px;
}
#login_box_wrap .login_input {
	width: 100%;
	height: 60px;
	padding: 16px 24px;
	border: 2px solid #C0CCCC;
	border-radius: 10px;
	background: #F7FBFC;
	color: #275556;
    font-size: 1em;
    font-weight: 800;
	outline: 0;
	transition: 0.2s;
}
#login_box_wrap .login_input::placeholder { color:#C0CCCC; font-weight: 400;}
/* #login_box_wrap .login_input::-webkit-input-placeholder { color:#C0CCCC; }
#login_box_wrap .login_input:-ms-input-placeholder { color:#C0CCCC; } */

#login_box_wrap .login_input:focus-visible {
	border-color: #00A6AB;
	background: #fff;
}

#login_box_wrap .login_btn_wrap {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
}
#login_box_wrap .login_btn_box {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
#login_box_wrap .login_btn {
	width: 100%;
	height: 60px;
	border-radius: 10px;
	background: #00A6AB;
	color: #fff;
    font-size: 1em;
    font-weight: 700;
	transition: 0.2s;
}
#login_box_wrap .login_btn:hover {
	background: #009499;
}

#login_box_wrap .copywriter {
    color: #275556;
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
}

/* 로그인 페이지 언어 셀렉트메뉴 */

#language_selectmenu-button,
#language_selectmenu-menu {
	width: 95px;
	border-radius: 8px;
	background-color: #fff;
}

/* 셀렉트메뉴 */
#language_selectmenu-button {
	padding: 8px 6px 8px 28px;
	border-color: #C0CCCC;
	background: url("../images/language.svg") 8px 8px / 18px 18px no-repeat;
	color: #000;
	font-weight: 800;
}
#language_selectmenu-button .ui-selectmenu-text {
	margin: 0 0 0 4px;
}
#language_selectmenu-button:hover {
	background-color: #eee;
}

/* 셀렉트메뉴 옵션 */
#language_selectmenu-menu {
	text-align: center;
	color: #C0CBCC;
}

/* 셀렉트메뉴 옵션에 마우스 올렸을 때 */
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active {
	border-color: #fff;
	background: #fff;
	color: #275556;
	font-weight: 800;
}

/* 셀렉트메뉴에 마우스 올렸을 때 */
.ui-button .ui-icon,
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
	width: 18px;
	height: 18px;
	background: url("../images/arrow_drop_down_black.svg") center center / cover no-repeat;
}