@charset "UTF-8";
@import "./font.css";

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
html, body, body * {
    box-sizing: border-box;
    font-family: "Pretendard";
}
button {
	padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: 0;
}
ul, li {
    list-style-type: none;
}

::-webkit-scrollbar	{
	width: 5.5px;
	height: 5.5px;
   	border-radius: 15px;
    background: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.55);
    cursor: pointer;
}

/* 왼쪽 배경 영역 */

.wrap {
	height: 100%;
	padding: 80px 24px 0;
}
#loginContainer {
	position: relative;
	display: flex;
	flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* 오른쪽 로그인 영역*/
#login_box_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
	gap: 24px;
	padding-bottom: 56px;
}

#login_box_wrap .login_content {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	gap: 40px;
	width: 100%;
}

#login_box_wrap .title_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
    letter-spacing: -0.01em;
}

#login_box_wrap .title_logo {
	min-width: 120px;
	width: 120px;
	height: 38px;
	min-height: 38px;
	background: url("../images/mobile/login/mobile_login_logo.png") center center / cover no-repeat;
}

#login_box_wrap .title_desc_wrap {
	display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}
#login_box_wrap .title {
    line-height: 100%;
    color: #121212;
    font-size: 20px;
    font-weight: 600;
}
#login_box_wrap .title_desc {
    line-height: 100%;
	color: #ADADAD;
    font-size: 14px;
    font-weight: 400;
}

#login_box_wrap .login_form_wrap {
    display: flex;
    flex-direction: column;
	align-items: center;
    flex: 1;
    gap: 20px;
}

#login_box_wrap .login_form {
	display: flex;
	flex-direction: column;
    justify-content: center;
	gap: 11px;
	width: 100%;
}
#login_box_wrap .login_input_box {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;
}


/**** 로그인 아이디/PW 입력창 아이콘 ****/

/*** 좌측 아이콘 ***/
#login_box_wrap .login_id_ico {
    position: absolute;
    left: 0;
    top: 50%;
	width: 24px;
	min-width: 24px;
	height: 24px;
	background: url("../images/mobile/login/ico-people.png") center center / cover no-repeat;
	transform: translate(8px, -50%);
}

#login_box_wrap .login_pw_ico {
	position: absolute;
    left: 0;
    top: 50%;
	width: 24px;
	min-width: 24px;
	height: 24px;
	background: url("../images/mobile/login/ico-password.png") center center / cover no-repeat;
	transform: translate(8px, -50%);
}
/*** 좌측 아이콘 ***/

/*** 입력한 아이디/비밀번호 버튼 영역 ***/
#login_box_wrap .input_in_btn_wrap {
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    align-items: center;
    gap: 8px;
    transform: translate(-8px, -50%);
}
#login_box_wrap .input_in_btn_wrap button:active {
	filter: brightness(0.8);
}
#login_box_wrap .input_in_btn_wrap .btn_input_empty {
	display: none;
	width: 24px;
    min-width: 24px;
    height: 24px;
    background: url(../images/mobile/login/ico-cancel-fill.png) center center / cover no-repeat;
}

#login_box_wrap .input_in_btn_wrap .btn_toggle_pw_visible {
	display: none;
	width: 24px;
    min-width: 24px;
    height: 24px;
    background: url(../images/mobile/login/ico-visible-off.png) center center / cover no-repeat;
    transform: translateY(1px);
}

#login_box_wrap .input_in_btn_wrap .btn_toggle_pw_visible.on {
    background-image: url(../images/mobile/login/ico-visible-on.png);
	transform: translateY(0px);
}

/*** 입력한 아이디/비밀번호 버튼 영역 ***/

/**** 로그인 아이디/PW 입력창 아이콘 ****/


#login_box_wrap .login_input {
	width: 100%;
	height: 40px;
	line-height: 100%;
	padding: 12px 40px 12px 40px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	background: #fff;
	color: #121212;
    font-size: 14px;
    font-weight: 500;
	outline: 0;
	transition: 0.2s;
}
#login_box_wrap .login_input::placeholder {
	background: #fff;
	color:#C0CCCC;
	font-weight: 400;
}
/* #login_box_wrap .login_input::-webkit-input-placeholder { color:#C0CCCC; }
#login_box_wrap .login_input:-ms-input-placeholder { color:#C0CCCC; } */

/** 입력창 포커스 됐을 떄 **/
#login_box_wrap .login_input:focus-visible {
	border-color: #46A6FF;
}

#login_box_wrap .login_btn_wrap {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}
#login_box_wrap .login_btn_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

#login_box_wrap .auto_login_chkbox_wrap {
	display: flex;
	align-items: center;
	gap: 8px;
}

#login_box_wrap input[type='checkbox'] {
	display: none;
}
#login_box_wrap input[type='checkbox']+label {
	height: 20px;
}
#login_box_wrap input[type='checkbox']+label:before {
	width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
    background: url("../images/mobile/login/chkbox.png") center center / cover no-repeat;
}
#login_box_wrap input[type='checkbox']+label:active {
	filter: brightness(0.8);
}
	
#login_box_wrap input[type='checkbox']:checked+label:before {
	background: url("../images/mobile/login/chkbox_checked.png") center center / cover no-repeat;
}

#login_box_wrap .auto_login_chkbox_wrap .chkbox_title {
	line-height: 100%;
	color: #ADADAD;
	font-size: 12px;
	font-weight: 500;
}

#login_box_wrap .login_btn {
	width: 100%;
	height: 60px;
	border-radius: 10px;
	background: #F5F5F5;
	color: #C9C9C9;
    font-size: 1em;
    font-weight: 700;
	transition: 0.2s;
	outline: 0;
}
#login_box_wrap .login_btn:active,
#login_box_wrap .login_btn.active {
	background: #46A6FF;
	color: #fff;
}

/* 로그인 페이지 언어 셀렉트메뉴 */

#language_selectmenu-button,
#language_selectmenu-menu {
	width: auto;
	border-radius: 4px;
	background-color: #fff;
}

/* 셀렉트메뉴 */
#language_selectmenu-button {
	display: flex;
    flex-direction: row-reverse;
	align-items: center;
	width: 76px;
	line-height: 100%;
	padding: 8px 6px 8px 24px;
	border-color: #D9D9D9;
	border-radius: 4px;
	background: url("../images/mobile/login/ico-lang.png") 6px 8px / 16px 16px no-repeat;
	color: #ADADAD;
	font-size: 12px;
	font-weight: 500;
	outline: 0;
}
#language_selectmenu-button .ui-selectmenu-text {
	margin: 0 4px 0 0;
}
#language_selectmenu-button:active {
	background-color: #eee;
}

/* 셀렉트메뉴 옵션 */
#language_selectmenu-menu {
	margin-top: -1px;
	padding: 6px;
	text-align: center;
	color: #ADADAD;
}

#language_selectmenu-menu .ui-menu-item-wrapper {
	margin: 0;
	padding: 6px 0;
	border: 0;
	border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}
#language_selectmenu-menu .ui-menu-item-wrapper:active {
	background: #46A6FF;
	color: #fff;
}

/* 셀렉트메뉴 option */
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active {
	border-color: #fff;
	background: #fff;
	color: #ADADAD;
}

#language_selectmenu-button .ui-icon-triangle-1-s {
	width: 16px;
	height: 16px;
	background: url("../images/mobile/login/ico-arrow-down.png") center center / cover no-repeat;
	transition: 0.2s;
}

#language_selectmenu-button[aria-expanded=true] .ui-icon-triangle-1-s {
	transform: rotate(180deg);
}


/**** 로그인 실패 시 안내 문구 ****/

#login_box_wrap .login_fail {
	line-height: 150%;
	padding: 16px;
	border-radius: 8px;
	background: #F5F5F5;
	color: #EC1E1E;
	font-size: 12px;
	font-weight: 500;
}
/** 로그인 성공 시 문구 색상 변경 **/
#login_box_wrap .login_fail.success {
	color: #46A6FF;
}

#ci_logo {
	width: 180px;
	min-width: 180px;
	height: 80px;
	background: url("../images/mobile/login/CI.png") center center / cover no-repeat;
}