@media screen and (min-width: 1920px) {
	#login_box_wrap .title_wrap {
		gap: 12px;
	}
	#login_box_wrap .login_input,
	#login_box_wrap .login_btn{
        font-size: 1.3em;
    }
    #login_box_wrap .login_btn_wrap {
        gap: 60px;
    }
}
@media screen and (min-width: 1680px) and (max-width: 1919px) {
	#login_box_wrap .title_wrap {
		gap: 12px;
	}
	
	#login_box_wrap .login_input,
	#login_box_wrap .login_btn{
        font-size: 1.3em;
    }
    #login_box_wrap .login_btn_wrap {
        gap: 60px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 1679px) {
	
	#login_box_wrap .title_wrap {
		gap: 6px;
	}
	#login_box_wrap .login_form {
		gap: 20px;
	}
	#login_box_wrap .login_form_wrap {
		gap: 30px;
	}
	#login_box_wrap .login_input,
	#login_box_wrap .login_btn{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
	#login_bg_wrap .bg_info {
		font-size: 2.7em;
	}
	#login_box_wrap .title {
		font-size: 2.5em;
	}
	#login_box_wrap .login_form {
		gap: 20px;
	}
	#login_box_wrap .login_content {
		gap: 20px;
	}
	#login_box_wrap .login_form_wrap {
		gap: 30px;
	}
    #login_box_wrap .label_input {
    	font-size: 0.95em;
    }
	#login_box_wrap .login_input,
	#login_box_wrap .login_btn{
        height: 50px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	
	#login_bg_wrap .bg_info {
        font-size: 2.5em;
	}
	#login_box_wrap {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	#login_box_wrap .title {
		font-size: 2em;
	}
	#login_box_wrap .login_form {
		gap: 20px;
	}
	#login_box_wrap .login_content {
		gap: 20px;
	}
	#login_box_wrap .login_form_wrap {
		gap: 30px;
	}
	#login_box_wrap .label_input {
    	font-size: 0.95em;
    }
	#login_box_wrap .login_input,
	#login_box_wrap .login_btn{
        height: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
	#login_bg_wrap .bg_info {
		font-size: 2.7em;
	}
	
	#login_box_wrap {
		padding-left: 5%;
		padding-right: 5%;
	}
	#login_box_wrap .title {
		font-size: 2em;
	}
	#login_box_wrap .login_form {
		gap: 20px;
	}
	#login_box_wrap .login_content {
		gap: 20px;
	}
	#login_box_wrap .login_form_wrap {
		gap: 30px;
	}
	#login_box_wrap .label_input {
    	font-size: 0.95em;
    }
	#login_box_wrap .login_input,
	#login_box_wrap .login_btn{
        height: 50px;
    }
}
@media screen and (max-width: 767px) {
	#login_bg_wrap .bg_info {
		font-size: 2.3em;
	}
	
	#login_box_wrap {
		padding-left: 5%;
		padding-right: 5%;
		margin: 5% 0;
	}
	
	#login_box_wrap .title {
		font-size: 2em;
	}
	#login_box_wrap .login_form {
		gap: 20px;
	}
	#login_box_wrap .login_content {
		gap: 20px;
	}
	#login_box_wrap .login_form_wrap {
		gap: 30px;
	}
	#login_box_wrap .label_input {
    	font-size: 0.95em;
    }
	#login_box_wrap .login_input,
	#login_box_wrap .login_btn{
        height: 50px;
    }
    #login_box_wrap .login_btn_wrap {
    	gap: 16px;
    }
}