@charset "UTF-8";
@import "./font.css";

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
html, body, body * {
    box-sizing: border-box;
    font-family: "Pretendard";
    letter-spacing: -0.05em;
}
button {
	padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}
ul, li {
	padding: 0;
	margin: 0;
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
::-webkit-scrollbar	{
	width: 5.5px;
	height: 5.5px;
   	border-radius: 15px;
    background: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.55);
    cursor: pointer;
}

/* 왼쪽 배경 영역 */

.wrap {
	height: 100%;
}

#meeting_view {
	display: flex;
	justify-content: center;
	height: 100%;
	background: #F8F8F9;
}

#meeting_view .inner {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 24px;
	padding: 40px 16px 0;
	background: #fff;
	overflow-y: auto;
}

#meeting_view .title_wrap {
	display: flex;
	flex-direction: column;
	padding-bottom: 24px;
	border-bottom: 1px solid #EEEEEE;
}
#meeting_view .title_txt {
	line-height: 54px;
	font-size: 30px;
	font-weight: 700;
}
#meeting_view .title_desc {
	line-height: 29px;
	color: #999999;
	font-size: 16px;
	font-weight: 500;
}
#meeting_view .meeting_txt_wrap {
}

#meeting_view .meeting_info_wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
	line-height: 36px;
	color: #333333;
	font-size: 18px;
	font-weight: 700;
}

#meeting_view .meeting_attend_wrap {
	padding-bottom: 16px;	
	border-bottom: 1px solid #EEEEEE;
}
#meeting_view .meeting_attend_wrap li,
#meeting_view .meeting_detail_wrap li {
	display: flex;
	align-items: center;
}
#meeting_view .meeting_attend_wrap li::before,
#meeting_view .meeting_detail_wrap li:before {
    display: block;
    content: "·";
    margin: 0 12px 0 8px;
    font-size: 1.5em;
    font-weight: 900;
}

#meeting_view .meeting_detail_wrap {
    /*display: flex;
    flex-direction: column;
    gap: 40px;*/
    padding: 16px 0 40px;
    line-height : 27px;
}
#meeting_view .meeting_detail_wrap h4,
#meeting_view .meeting_detail_wrap li {
	line-height: 36px;
	font-size: 18px;
	font-weight: 300;
}
#meeting_view .meeting_detail_wrap li:before {
	margin-left: 24px;
	font-weight: 500;
}

#meeting_view .meeting_detail_wrap .detail_result {
	
}