/*** Material CheckBox ***/
.checkbox {
  display: inline-block;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.checkbox label {
  cursor: pointer;
  padding-left: 0;
  font-size:13px;
  color:#666;
}
.checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  pointer-events: none;
}
.checkbox .checkbox-material {
  vertical-align: middle;
  position: relative;
  top: 3px;
}
.checkbox .checkbox-material:before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -4px 0 0 -4px;
  content: "";
  background-color: rgba(92, 172, 222, 0.5);
  height: 4px;
  width: 4px;
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
  
}
.checkbox .checkbox-material .check {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 3px;
  overflow: hidden;
  z-index: 1;
  margin-right:3px;
  background:#fff;
}
.checkbox .checkbox-material .check:before {
  position: absolute;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  margin-top: -3px;
  margin-left: 7px;
  width: 0;
  height: 0;
  -webkit-box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
          box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
  -webkit-animation: checkbox-off 0.3s forwards ease-out;
          animation: checkbox-off 0.3s forwards ease-out;
	
	

}
.checkbox input[type=checkbox]:focus + .checkbox-material .check:after {
 opacity:0;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
  -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
          box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  -webkit-animation: checkbox-on 0.3s forwards ease-out;
          animation: checkbox-on 0.3s forwards ease-out;
}
.checkbox input[type=checkbox]:not(:checked) + .checkbox-material:before {
  -webkit-animation: rippleOff 700ms forwards ease-out;
          animation: rippleOff 700ms forwards ease-out;
}
.checkbox input[type=checkbox]:checked + .checkbox-material:before {
  -webkit-animation: rippleOn 700ms forwards ease-out;
          animation: rippleOn 700ms forwards ease-out;
}
.checkbox input[type=checkbox]:not(:checked) + .checkbox-material .check:after {
  -webkit-animation: rippleOff 700ms forwards ease-out;
          animation: rippleOff 700ms forwards ease-out;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check:after {
  -webkit-animation: rippleOn 700ms forwards ease-out;
          animation: rippleOn 700ms forwards ease-out;
}
.checkbox input[type=checkbox][disabled]:not(:checked) ~ .checkbox-material .check:before,
.checkbox input[type=checkbox][disabled] + .circle {
 opacity:0;
}
.checkbox input[type=checkbox][disabled] + .checkbox-material .check:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.checkbox-material .check {
  color: #aaa;
}
.checkbox-material:before {
  background-color: #062958;
}
input[type=checkbox]:checked + .checkbox-material .check {
  color: #062958;
}

@-webkit-keyframes checkbox-on {
  0% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}

@keyframes checkbox-on {
  0% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}
@-webkit-keyframes checkbox-off {
  0% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  25% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }
  51% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
            box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
            box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
  }
}
@keyframes checkbox-off {
}

/*** Material Radio ***/
.radio{display:inline-block;margin-right:10px;}
[type="radio"]:not(:checked),[type="radio"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
  position: relative;
  padding-left: 33px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  color:#333;
  -webkit-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

[type="radio"] + span:before,
[type="radio"] + span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}

/* Unchecked styles */
[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after,
[type="radio"]:checked + span:before,
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border-radius: 50%;
}

[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
  border: 1px solid #aaa;
}

[type="radio"]:not(:checked) + span:after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

/* Checked styles */
[type="radio"]:checked + span:before {
  border: 2px solid transparent;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 1px solid #ee7158;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #ee7158;
}

[type="radio"]:checked + span:after {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

/* Radio With gap */
[type="radio"].with-gap:checked + span:after {
  -webkit-transform: scale(0.45);
          transform: scale(0.45);
}

/* Focused styles */
[type="radio"].tabbed:focus + span:before {
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Disabled Radio With gap */
[type="radio"].with-gap:disabled:checked + span:before {
  border: 2px solid rgba(0, 0, 0, 0.42);
}

[type="radio"].with-gap:disabled:checked + span:after {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}

/* Disabled style */
[type="radio"]:disabled:not(:checked) + span:before,
[type="radio"]:disabled:checked + span:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled + span {
  color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled:not(:checked) + span:before {
  border-color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled:checked + span:after {
  background-color: rgba(0, 0, 0, 0.42);
  border-color: #949494;
}


/*** Material Tabs ***/
.tabs{position:relative;overflow-x:auto;overflow-y:hidden;height:42px;margin:0 auto;white-space:nowrap}
.tabs.tabs-transparent{background-color:transparent}
.tabs.tabs-transparent .tab a,.tabs.tabs-transparent .tab.disabled a,.tabs.tabs-transparent .tab.disabled a:hover{color:rgba(255,255,255,0.7)}
.tabs.tabs-transparent .tab a:hover,.tabs.tabs-transparent .tab a.active{color:#fff}
.tabs.tabs-transparent .indicator{background-color:#fff}
.tabs.tabs-fixed-width{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.tabs.tabs-fixed-width .tab{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
.tabs .tab{display:inline-block;/*text-align:center;*/line-height:48px;height:48px;padding:0;margin:0; /*text-transform:uppercase;*/margin-right:14px;}
.tabs .tab a{color:#a4a4a4;display:block;width:100%;height:100%;/*padding:0 24px;*/font-size:14px;text-overflow:ellipsis;overflow:hidden;-webkit-transition:color .28s ease, background-color .28s ease;transition:color .28s ease, background-color .28s ease}
.tabs .tab a:focus,.tabs .tab a:focus.active{background-color:transparent;outline:none;}
.tabs .tab a:hover{background-color:transparent;}
.tabs .tab a.active{background-color:transparent;color:#333;}
.tabs .tab a.active{font-weight:bold;}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover{color:rgba(238,110,115,0.4);cursor:default}
.tabs .indicator{position:absolute;bottom:0;height:2px;background-color:#333;will-change:left, right}

/*** Material TextField ***/
.input-field{position:relative;}
.input-field:after,.section-field:after{content:"";visibility:hidden;clear:both;display:block;}
input[type=text]{font-size:13px;border:none;border-bottom:1px solid #e0e0e0;background:transparent;width:100%;}
.input-field label,input[type=text]:focus + label{position:absolute;top:0;transition:0.2s;left:0;}
.input-field label:hover{cursor:text;}
.input-field label{color:#a4a4a4;font-size:14px;top:21px;}
.input-field textarea{display:block;resize:vertical;}
.bar { position: relative; display: block;}
.bar:before, .bar:after {content: '';height: 2px;width: 0;bottom: 0;position: absolute;background: #3f51b5;transition: 0.2s ease all; -webkit-transition: 0.2s ease all; -moz-transition: 0.2s ease all; -o-transition: 0.2s ease all;}
.bar:before {left: 50%;}
.bar:after {right: 50%;}
.formInput{margin:0 0 0 0 !important;/*height:auto !important;*/padding:10px 0;}
.formInput:focus {border-bottom:1px solid transparent !important}
.formInput:focus ~ .bar:before, .formInput:focus ~ .bar:after {width: 50%;}
input[type=text]:focus + label,.input-field .on {
  color: #005295 !important;
  top:0 !important;
  font-size:12px;font-weight:bold;
}
input[type=text]:focus:not(.n-tag) {
  /*border-bottom:1px solid #e6e6e6 !important;*/
  box-shadow:none !important;
}

/*** Material Textarea ***/
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
  outline: none;
  /*height: 3rem;*/
  width: 100%;
  font-size: 14px;
  /*margin: 0 0 8px 0;*/
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all .3s;
/*  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;*/
  transition: all .3s;

  line-height: normal;
  overflow-y: hidden;
  /* prevents scroll bar flash */
  /*padding: .8rem 0 .8rem 0;*/
  /* prevents text jump on Enter keypress */
  resize: none;
  min-height: 120px;
 /* -webkit-box-sizing: border-box;
          box-sizing: border-box;*/
}
textarea.materialize-textarea:focus {border-bottom:1px solid transparent !important}
textarea.materialize-textarea:focus ~ .bar:before, textarea.materialize-textarea:focus ~ .bar:after {width: 50%;}
.hiddendiv {
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* future version of deprecated 'word-wrap' */
  padding-top: 1.2rem;
  /* prevents text jump on Enter keypress */
  position: absolute;
  top: 0;
  z-index: -1;
}
/*** Material Chip ***/
.chip {
  display: inline-block;
  height: 26px;
  font-size: 13px;
  font-weight: 500;
  color: #333;
  line-height: 26px;
  padding: 0 12px;
  border-radius: 13px;
  background-color: #d1e8f5;
  margin-bottom: 0;
  margin-right: 5px;
}

.chip:focus {
  outline: none;
  background-color: #d1e8f5;
  color: #333;
}

.chip > img {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.chip .close {
  cursor: pointer;
  float: right;
  width:16px;height:16px;
  background-position:-152px -56px;
  margin-top:5px;
  margin-left:3px;
}

.chips {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0 0 8px 0;
  min-height: 45px;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.chips.focus {
  border-bottom: 1px solid #26a69a;
  -webkit-box-shadow: 0 1px 0 0 #26a69a;
          box-shadow: 0 1px 0 0 #26a69a;
}

.chips:hover {
  cursor: text;
}

.chips .input {
  background: none;
  border: 0;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-size: 13px;
  /*height: 3rem;
  line-height: 32px;*/
  outline: 0;
  margin: 0;
  padding:10px 0 !important;
  width: 120px !important;
}

.chips .input:focus {
  border: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.chips .autocomplete-content {
  margin-top: 0;
  margin-bottom: 0;
}

.prefix ~ .chips {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
}

.chips:empty ~ label {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
}

.chips .material-icons{curosr:pointer;z-index:100;}

/*** Material Select ***/
.dropdown-content{-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);}
.dropdown-content {border-radius:3px;width:100%;max-height:/*none*/370px; !important;background-color: #fff;margin: 0;display: none;min-width: 100px;overflow-y: auto;opacity: 0;position: absolute;left: 0 !important;top: 0;z-index: 9999;-webkit-transform-origin: 0 0;transform-origin: 0 0;}
.dropdown-content:focus {outline: 0;}
.dropdown-content li {word-break:keep-all;white-space: nowrap;clear: both;color: rgba(0, 0, 0, 0.87);cursor: pointer;min-height: 40px;line-height: 1.5rem;width: 100%;text-align: left;}
.dropdown-content li:hover, .dropdown-content li.active {background-color: #eee;}
.dropdown-content li:focus {outline: none;}
.dropdown-content li.divider {min-height: 0;height: 1px;}
.dropdown-content li > a, .dropdown-content li > span {font-size: 13px;color: #333;display: block;line-height: 39px;padding: 0px 16px;}
.dropdown-content li > span > label {top: 1px;left: 0;height: 18px;}
.dropdown-content li > a > i {height: inherit;line-height: inherit;float: left;margin: 0 24px 0 0;width: 24px;}
select:focus {outline: 1px solid #c9f3ef;}
select {display: none;}
select.browser-default {display: block;}
select {background-color: rgba(255, 255, 255, 0.9);width: 100%;padding: 5px;border: 1px solid #f2f2f2;border-radius: 2px;height: 3rem;}
.select-label {position: absolute;}
.select-wrapper {position: relative;}
.select-wrapper.valid + label,.select-wrapper.invalid + label {width: 100%;pointer-events: none;}
.select-wrapper input.select-dropdown {position: relative;cursor: pointer;background-color: transparent;border: none;border-bottom: 1px solid #e0e0e0;outline: none;/*height: 3rem;line-height: 3rem;*/width: 100%;font-size: 13px;margin: 0 0 0px 0;padding: 0;display: block;-webkit-user-select: none; -moz-user-select: none;-ms-user-select: none;user-select: none;z-index: 1;}
.select-wrapper input.select-dropdown:focus {/*border-bottom: 1px solid #0288d1;*/}
.select-wrapper .caret {position: absolute;right: 0;top: 0;bottom: 0;margin: auto 0;z-index: 0;fill: rgba(0, 0, 0, 0.87);}
.select-wrapper + label {position: absolute;top: -26px;font-size: 0.8rem;}
select:disabled {color: rgba(0, 0, 0, 0.42);}
.select-wrapper.disabled + label {color: rgba(0, 0, 0, 0.42);}
.select-wrapper.disabled .caret {fill: rgba(0, 0, 0, 0.42);}
.select-wrapper input.select-dropdown:disabled {color: rgba(0, 0, 0, 0.42);cursor: default;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.select-wrapper i {color: rgba(0, 0, 0, 0.3);}
.select-dropdown li.disabled,.select-dropdown li.disabled > span,.select-dropdown li.optgroup {color: rgba(0, 0, 0, 0.3);background-color: transparent;}
body.keyboard-focused .select-dropdown.dropdown-content li:focus {background-color: rgba(0, 0, 0, 0.08);}
.select-dropdown.dropdown-content li:hover {background-color: #ddeef8;}
.select-dropdown.dropdown-content li.selected {background-color: rgba(0, 0, 0, 0.03);}
.prefix ~ .select-wrapper {margin-left: 3rem;width: 92%;width: calc(100% - 3rem);}
.prefix ~ label {margin-left: 3rem;}
.select-dropdown li img {height: 40px;width: 40px;margin: 5px 15px;float: right;}
.select-dropdown li.optgroup {border-top: 1px solid #eee;}
.select-dropdown li.optgroup.selected > span {color: rgba(0, 0, 0, 0.7);}
.select-dropdown li.optgroup > span {color: rgba(0, 0, 0, 0.4);}
.select-dropdown li.optgroup ~ li.optgroup-option {padding-left: 1rem;}
.select-wrapper .caret{text-indent:-5000px;width:16px;height:16px;color:#fff;}
.select-wrapper .caret:after{content:"";width:0px;height:0px;border-top:5px solid #999;border-bottom:5px solid none;border-left:5px solid transparent;border-right:5px solid transparent;background:none;transition:.3s;display:block;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);margin-top:-1px;}
