
/* 분할화면 레이아웃 */
.mu_container.main_split {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.mu_container .scroll {
  overflow-y: auto;
}
.mu_container.main_split .btn_prev_pg,
.mu_container.main_split .btn_next_pg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  opacity: .3;
  z-index: 5;
  transition: all ease-in-out .1s;
}
.mu_container.main_split .btn_prev_pg:hover,
.mu_container.main_split .btn_next_pg:hover {
  opacity: 1;
}
.mu_container.main_split .btn_prev_pg {
  left: 5px;
  background: url(../../../img/icon/layout/btn_page_arrow.png);
  transform: rotate(180deg);
}
.mu_container.main_split .btn_next_pg {
  right: 475px;  
  background: url(../../../img/icon/layout/btn_page_arrow.png);
}

.main_split .contents {
  padding: 30px 25px 30px 55px;
  width: calc(100% - 470px);
  min-width: 960px;
  height: 100%;
  background: #f7f7f7;
  overflow: hidden;
  overflow-y: visible;
}
.main_split .contents .split {
  float: left;  
  margin-right: 30px;
  width: calc(50% - 30px);
  height: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(78, 76, 85, .07);
}
.main_split .contents .split .m_tit h4 {
  /* width: 100%; */
  height: 60px;
  padding: 24px 0 0 30px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}
.main_split .contents .split .m_tit h4 span {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 400;
  opacity: .7;
}
.main_split .contents .split .m_tit.cl-1 {
  background: #4e4c55;
}
.main_split .contents .split .m_tit.cl-2 {
  background: #4e4c55;
}
.main_split .contents .split .m_tit .btn_wr {
  display: inline-block;
  height: 30px;
  padding-right: 25px;
}
.main_split .contents .split .m_tit .btn_refresh,
.main_split .contents .split .m_tit .btn_menuset {
  margin: 20px 0 0 15px;
  display: inline-block;
  opacity: .5;
  transition: all ease-in-out .1s;
}
.main_split .contents .split .m_tit .btn_refresh:hover,
.main_split .contents .split .m_tit .btn_menuset:hover {
  opacity: 1;
}

.content_list {
  /*margin-bottom: 30px;*/
  margin-right: 5px;
  margin-left : 5px;
}
.request_folder {
  position: relative;
  width: 100%;
  height: 36px;
  background: #fff;
  /*margin: 24px 0 30px;*/
  overflow: hidden;
  /*overflow-y: visible;*/
}
.request_folder .btn_f_pv,
.request_folder .btn_f_nt {
  position: absolute;
  top: 0;
  width: 30px;
  height: 35px;
}
.request_folder .btn_f_pv img,
.request_folder .btn_f_nt img {
  opacity: .3;
  display: unset !important;
  width: auto !important;
}
.request_folder .btn_f_pv {
  left: 0;
  background: linear-gradient(-90deg, #fff 100%,  0%);
}
.request_folder .btn_f_nt {
  right: 0;
  background: linear-gradient(90deg, #000 0%,#fff 000%);
}
.request_folder ul {
  width: 1500px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;

}
.request_folder ul li {
  display: inline-block;
  width: auto;
  height: 35px;
  padding: 10px 18px 10px 15px;
  margin-right: 4px;
  border-radius: 17.5px;
  color: rgba(78, 76, 85, .7);
  border: 1px solid rgba(78, 76, 85, .2);
  cursor: pointer;
  transition: all ease-in-out .1s;
}
.request_folder ul li img {
  width: 13px;
  height: 11px;
  margin: 0 5px 3px 0;
  opacity: .6;
  display: unset !important;
  width : auto  !important;
}
.request_folder ul li:hover {
  color: rgba(78, 76, 85, 1);
  border: 1px solid rgba(78, 76, 85, .7);
  cursor: pointer;
  transition: all ease-in-out .1s;
}
.request_folder ul li.on {
  color:#fff;
  background: #4e4c55;
  border: 1px solid #4e4c55;
  transition: all ease-in-out .1s;
}
.request_folder ul li:hover img,
.request_folder ul li:hover.on img {
  opacity: 1;
}
.request_folder ul li:first-child {
  /*margin-left: 30px;*/
  padding: 10px 20px;
  border: none;
  background: #ededee;
  color: rgba(78, 76, 85, .6);
}
.request_folder ul li:first-child:hover {
  color: rgba(78, 76, 85, 1);
}
.contents .split .list_wr {
  width: 100%;
  height: calc(100% - 150px);
  margin-top: 30px;
  padding: 0 30px 0 30px;
}
.contents .split .list_wr.h120 {
  height: calc(100% - 120px);
}
.contents .split .scroll {
  height: calc(100% - 150px);
}
.content_list_wr {
  width: 100%;
  height:100%;
  background: #fff;
}

.content_list_wr h5,
.content_list_wr h5.folder_name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000;
}
.content_list_wr h5.folder_name::before {
  display: inline-block;
  width: 16px;
  height:15px;
  margin: 2px 5px 0 0;
  opacity: .6;
  content: '';
  background: url(../../../images/common/sprite_img.png) no-repeat -559px -242px;
}
.content_list_wr ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  height: 100%;
}
.content_list_wr ul.mail_wr {
  display: block;
}

/* 업무방 리스트 UI --------------------- */
.content_list_wr ul li.request_card {
  width: calc(50% - 5px);
  /*min-width: 250px;*/
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 0px 10px;
  font-weight: 500;
  color: #000;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  transition: all ease-in-out .1s;
  cursor: pointer;
}
.content_list_wr ul li.request_card:nth-child(2n) {
  margin-right: 0;
}
.content_list_wr ul li.request_card.on,
.content_list_wr ul li.request_card:hover {
  border: 1px solid #ee7158;
}
.content_list_wr ul li.request_card .top {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}
.content_list_wr ul li.request_card .bot {
  /*display: flex;
  justify-content: space-between;*/
  padding: 5px 0 10px;
  position : relative;
}
.content_list_wr ul li.request_card .work_code {
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px;
  opacity: .6;
}
.content_list_wr ul li.request_card .team_mem_wr {
  display: flex;
  width: auto;
  height: 30px;
  justify-content : end;

}
.content_list_wr ul li.request_card .team_mem_wr .mem_img {
  width: 29px;
  height: 29px;
  margin-right: -8px;
  border-radius: 50%;
  border: 1.5px solid #fff;
}
.content_list_wr ul li.request_card .team_mem_wr .mem_img.mr0 {
  margin-right: 0;
}
.content_list_wr ul li.request_card .team_mem_wr .mem_num {
  position: relative;
  width: 29px;
  height: 29px;
  margin-left: 2px;
  border-radius: 50%;
  background: #4e4c55;
}
.content_list_wr ul li.request_card .team_mem_wr .mem_num span {
  position: absolute;
  width: 29px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -.1px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
.content_list_wr ul li.request_card .tit {
  font-size: 15.5px;
  line-height: 1;
  margin-top : 5px;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight:600;
}
.content_list_wr ul li.request_card .work_staus {
  display: inline-block;
  /*width: 100%;*/
  margin: 7px 0 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #666;
  word-break:keep-all;
  word-wrap: normal;
}
.content_list_wr ul li.request_card .work_staus img {
  margin-right: 2px;
  width: 15px;
  height: 15px;
}
.content_list_wr ul li.request_card .work_staus span {
  color: #999;
  margin-right: 2px;
}

/* 메시지센터 리스트 UI --------------------- */
.content_list_wr ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  height: 100%;
  margin-bottom: 10px;
}
.content_list_wr ul li.msgcenter_ban {
  position: relative;
  width: calc(50% - 5px);
  height: auto;
  min-height: 72px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px 0 0 20px;
  font-weight: 500;
  color: #000;
  line-height: 1;
  border-radius: 10px;
  transition: all ease-in-out .1s;
  cursor: pointer;
  max-height : 70px;
}
.content_list_wr ul li.msgcenter_ban:nth-child(2n) {
  margin-right: 0;
}


/* 메뉴 코드별 배경색상 정의  */
.content_list_wr ul li.msgcenter_ban.unreadmail {
  background: #fde6d9;
  border: 1px solid #fde6d9;
}
.content_list_wr ul li.msgcenter_ban:hover.unreadmail {
  border: 1px solid #ffad7d;
}


.content_list_wr ul li.msgcenter_ban.appno {
  background: #ffeae7;
  border: 1px solid #ffeae7;
}
.content_list_wr ul li.msgcenter_ban:hover.appno {
  border: 1px solid #fc9383;
}

.content_list_wr ul li.msgcenter_ban.reciverevalcount {
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
}
.content_list_wr ul li.msgcenter_ban:hover.reciverevalcount {
  border: 1px solid #aaaaaa;
}

.content_list_wr ul li.msgcenter_ban.delaycount {
  background: #ffeae7;
  border: 1px solid #ffeae7;
}
.content_list_wr ul li.msgcenter_ban:hover.delaycount {
  border: 1px solid #fc9383;
}

.content_list_wr ul li.msgcenter_ban.dudurim {
  background: #e6e8f7;
  border: 1px solid #e6e8f7;
}
.content_list_wr ul li.msgcenter_ban:hover.dudurim {
  border: 1px solid #8594ff;
}

.content_list_wr ul li.msgcenter_ban.issue {
  background: #eae2f0;
  border: 1px solid #eae2f0;
}
.content_list_wr ul li.msgcenter_ban:hover.issue {
  border: 1px solid #cb87ff;
}

.content_list_wr ul li.msgcenter_ban.notecnt {
  background: #eae2f0;
  border: 1px solid #eae2f0;
}
.content_list_wr ul li.msgcenter_ban:hover.notecnt {
  border: 1px solid #cb87ff;
}

.content_list_wr ul li.msgcenter_ban.mdmcount2 {
  background: #eae2f0;
  border: 1px solid #eae2f0;
}
.content_list_wr ul li.msgcenter_ban:hover.mdmcount2 {
  border: 1px solid #cb87ff;
}

.content_list_wr ul li.msgcenter_ban.marketingresearch {
  background: #e6f1f7;
  border: 1px solid #e6f1f7;
}
.content_list_wr ul li.msgcenter_ban:hover.marketingresearch {
  border: 1px solid #7cd0fd;
}

.content_list_wr ul li.msgcenter_ban.coDoctor {
  background: #fbf5d7;
  border: 1px solid #fbf5d7;
}
.content_list_wr ul li.msgcenter_ban:hover.coDoctor {
  border: 1px solid #ecd148;
}

.content_list_wr ul li.msgcenter_ban.foodeffect {
  background: #fbf5d7;
  border: 1px solid #fbf5d7;
}
.content_list_wr ul li.msgcenter_ban:hover.foodeffect {
  border: 1px solid #ecd148;
}

.content_list_wr ul li.msgcenter_ban.hrapprocount {
  background: #e6e8f7;
  border: 1px solid #e6e8f7;
}
.content_list_wr ul li.msgcenter_ban:hover.hrapprocount {
  border: 1px solid #8594ff;
}

.content_list_wr ul li.msgcenter_ban.plmcount {
  background: #ddebeb;
  border: 1px solid #ddebeb;
}
.content_list_wr ul li.msgcenter_ban:hover.plmcount {
  border: 1px solid #53bbbb;
}


.content_list_wr ul li.msgcenter_ban.decocount {
  background: #fde6d9;
  border: 1px solid #fde6d9;
}
.content_list_wr ul li.msgcenter_ban:hover.decocount {
  border: 1px solid #ffad7d;
}

.content_list_wr ul li.msgcenter_ban.voccount {
  background: #ffeae7;
  border: 1px solid #ffeae7;
}
.content_list_wr ul li.msgcenter_ban:hover.voccount {
  border: 1px solid #fc9383;
}

.content_list_wr ul li.msgcenter_ban.mdmcount1 {
  background: #faf0d9;
  border: 1px solid #faf0d9;
}
.content_list_wr ul li.msgcenter_ban:hover.mdmcount1 {
  border: 1px solid #fdd475;
}

.content_list_wr ul li.msgcenter_ban.cardcount {
  background: #e6f1f7;
  border: 1px solid #e6f1f7;
}
.content_list_wr ul li.msgcenter_ban:hover.cardcount {
  border: 1px solid #7cd0fd;
}

.content_list_wr ul li.msgcenter_ban.costappno {
  background: #faf0d9;
  border: 1px solid #faf0d9;
}
.content_list_wr ul li.msgcenter_ban:hover.costappno {
  border: 1px solid #fdd475;
}

.content_list_wr ul li.msgcenter_ban.pcappno {
  background: #eae2f0;
  border: 1px solid #eae2f0;
}
.content_list_wr ul li.msgcenter_ban:hover.pcappno {
  border: 1px solid #cb87ff;
}

.content_list_wr ul li.msgcenter_ban.webhardappno {
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
}
.content_list_wr ul li.msgcenter_ban:hover.webhardappno {
  border: 1px solid #aaaaaa;
}

.content_list_wr ul li.msgcenter_ban.taxcount {
  background: #fbf5d7;
  border: 1px solid #fbf5d7;
}
.content_list_wr ul li.msgcenter_ban:hover.taxcount {
  border: 1px solid #ecd148;
}

.content_list_wr ul li.msgcenter_ban.drmcount {
  background: #e6e8f7;
  border: 1px solid #e6e8f7;
}
.content_list_wr ul li.msgcenter_ban:hover.drmcount {
  border: 1px solid #8594ff;
}

.content_list_wr ul li.msgcenter_ban.lawcount {
  background: #ddebeb;
  border: 1px solid #ddebeb;
}
.content_list_wr ul li.msgcenter_ban:hover.lawcount {
  border: 1px solid #53bbbb;
}

.content_list_wr ul li.msgcenter_ban.ec_count {
  background: #fde6d9;
  border: 1px solid #fde6d9;
}
.content_list_wr ul li.msgcenter_ban:hover.ec_count {
  border: 1px solid #ffad7d;
}

.content_list_wr ul li.msgcenter_ban.dps_count {
  background: #e6e8f7;
  border: 1px solid #e6e8f7;
}
.content_list_wr ul li.msgcenter_ban:hover.dps_count {
  border: 1px solid #8594ff;
}

.content_list_wr ul li.msgcenter_ban.costappnoNoProof {
  background: #ddebeb;
  border: 1px solid #ddebeb;
}
.content_list_wr ul li.msgcenter_ban:hover.costappnoNoProof {
  border: 1px solid #53bbbb;
}


.content_list_wr ul li.msgcenter_ban.nocount {
  background: #f3f3f3;
  border: 1px solid #bdbbbb;
}

.content_list_wr ul li.msgcenter_ban:hover.nocount {
  background: #f3f3f3;
  border: 1px solid #878686;
}


.content_list_wr ul li.msgcenter_ban .msg_txt {
  width: 100%;
  height:auto;
}
.content_list_wr ul li.msgcenter_ban .msg_tit {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 3px;
  color: #23202b;
}
.content_list_wr ul li.msgcenter_ban .msg_num {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  opacity: 1;
}
.content_list_wr ul li.msgcenter_ban .ico_msg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 12px;
  right: 15px;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico {
  content: '';
  position: absolute;
  width: 40px;
  height: 35px;
  scale: 75%;
  background-position: center center;
  background-size: cover;
}
/* 아이콘 리스트 */
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.unreadmail {
  background: url(../../../img/icon/msgcenter/ico_favo_unreadmail.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.appno {
  background: url(../../../img/icon/msgcenter/ico_favo_appno.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.costappno {
  background: url(../../../img/icon/msgcenter/ico_favo_costappno.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.issue {
  background: url(../../../img/icon/msgcenter/ico_favo_issue.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.dudurim {
  background: url(../../../img/icon/msgcenter/ico_favo_dudurim.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.marketingresearch {
  background: url(../../../img/icon/msgcenter/ico_favo_marketingresearch.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.delaycount {
  background: url(../../../img/icon/msgcenter/ico_favo_delaycount.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.reciverevalcount {
  background: url(../../../img/icon/msgcenter/ico_favo_reciverevalcount.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.notecnt {
  background: url(../../../img/icon/msgcenter/ico_favo_notecnt.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.mdmcount2 {
  background: url(../../../img/icon/msgcenter/ico_favo_mdmcount2.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.dps_count {
  background: url(../../../img/icon/msgcenter/ico_favo_dps_count.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.webhardappno {
  background: url(../../../img/icon/msgcenter/ico_favo_webhardappno.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.drmcount {
  background: url(../../../img/icon/msgcenter/ico_favo_drmcount.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.lawcount {
  background: url(../../../img/icon/msgcenter/ico_favo_lawcount.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.cardcount {
  background: url(../../../img/icon/msgcenter/ico_favo_cardcount.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.taxcount {
  background: url(../../../img/icon/msgcenter/ico_favo_taxcount.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.hrapprocount {
  background: url(../../../img/icon/msgcenter/ico_favo_hrapprocount.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.costappnoNoProof {
  background: url(../../../img/icon/msgcenter/ico_favo_costappno.png);
}

.content_list_wr ul li.msgcenter_ban .ico_msg .ico.decocount {
  background: url(../../../img/icon/msgcenter/ico_favo_decocount.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.ic05 {
  background: url(../../../img/icon/msgcenter/ico_favo_경비처리.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.ic06 {
  background: url(../../../img/icon/msgcenter/ico_favo_인사정보.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.ic07 {
  background: url(../../../img/icon/msgcenter/ico_favo_경비처리.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.ic08 {
  background: url(../../../img/icon/msgcenter/ico_favo_경비처리.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.plmcount {
  background: url(../../../img/icon/msgcenter/ico_favo_plmcount.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.ic10 {
  background: url(../../../img/icon/msgcenter/ico_favo_deco.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.voccount {
  background: url(../../../img/icon/msgcenter/ico_favo_voccount.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.mdmcount1 {
  background: url(../../../img/icon/msgcenter/ico_favo_mdmcount1.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.ic13 {
  background: url(../../../img/icon/msgcenter/ico_favo_경비처리.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.coDoctor {
  background: url(../../../img/icon/msgcenter/ico_favo_coDoctor.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.foodeffect {
  background: url(../../../img/icon/msgcenter/ico_favo_foodeffect.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.pcappno {
  background: url(../../../img/icon/msgcenter/ico_favo_pcappno.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.ic17 {
  background: url(../../../img/icon/msgcenter/ico_favo_mdm.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.ic18 {
  background: url(../../../img/icon/msgcenter/ico_favo_경비처리.png);
}
.content_list_wr ul li.msgcenter_ban .ico_msg .ico.ec_count {
  background: url(../../../img/icon/msgcenter/ico_favo_ec_count.png);
}

/* 최근 컨텐츠 영역 --------------------- */
.tab_content {
  width: 100%;
  height: 35px;
  margin: 0px 0 10px;
}
.tab_content ul {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 30px;
}
.tab_content ul li {
  width: auto;
  height: 18px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #e8e8e8;
  cursor: pointer;
}
.tab_content ul li span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #000;
  opacity: .7;
  padding-bottom: 10px;
  transition: all ease-in-out .1s;
}
.tab_content ul li:hover span,
.tab_content ul li.on span {
  font-weight: 700;
  line-height: 1;
  opacity: 1;
  border-bottom: 2px solid #ee7158;
  /* padding-top: -2px; */
}
.tab_content ul li:first-child {
  padding-left: 0;
}
.tab_content ul li:last-child {
  padding-right: 0;
  border-right: none;
}

.content_list_wr .date_wrap .date {
  width: 100%;
  margin-bottom: 7px;
  font-size: 13px;
  font-weight: 700;
  color: #000;
}
.content_list_wr .date_wrap .talk {
  width: 100%;
  margin-top : 10px;
}
.content_list_wr .date_wrap .talk .msg_wrap {
  width: 100%;
  /*cursor: pointer;*/
}
.content_list_wr .date_wrap .talk .msg_wrap .balloon {
  margin-bottom: 5px;
  padding: 16px 20px 10px 20px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  background: #fff;
  line-height: 1;
  transition: all .1s ease-in-out;
}
.content_list_wr .date_wrap .talk .msg_wrap .balloon.on,
.content_list_wr .date_wrap .talk .msg_wrap .balloon:hover {
  border: 1px solid #ee7158;
}

.msg_wrap .balloon .top .editor_dis p {
  margin: 5px 0 5px;
  font-size: 12px;

  line-height: 1.2;  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.msg_wrap .balloon .top p {
  margin: 10px 0 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.msg_wrap .balloon.on .top p {
  height: auto;
  white-space: wrap;
}
.msg_wrap .balloon .top .name {
  font-size: 12px;
  font-weight: 500;
  color: #666;
}
.msg_wrap .balloon .top .team::before {
  content: '|';
  color: #d8d8d8;
  margin: 0 5px;
}
.msg_wrap .balloon .top .time {
  color: #999;
  margin-left: 5px;
  margin-right: 15px;
  font-size: 12px;
  color: #a4a4a4;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}
.balloon .bot {
  width: 100%;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
  vertical-align: bottom;
  border-top: 1px solid #e8e8e8;
}
.balloon .bot span {
  color: #999;
}
.balloon .bot .more {
  font-size: 13px;
  font-weight: 400;
  color: #666;
}
.balloon .bot .more img {
  margin: 6px;
  transform: rotate(-90deg);
  scale: .9;
  opacity: .6;
  display : inline;
  width : auto;
}

.balloon.on .bot .more img {
  margin: 4px 6px 6px ;
  transform: rotate(90deg);
  scale: .9;
  opacity: .6;
}
.msg_wrap .balloon .top .channel-name {
  font-weight: 500;
  font-size: 11px;
  background: #fff;
  color: #92b4e2;
  border: 1px solid #92b4e2;
  padding: 3px 5px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  word-wrap: normal;
  word-break: keep-all;
  cursor : pointer;
}

.msg_wrap .balloon .top .channel-name:hover {
  font-weight: 600;
  background: #92b4e2;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;

}
.msg_wrap .balloon .ico {
  position: relative;
  overflow: visible;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  /* z-index: 5; */
  border-radius: 8px;
  transition: 0.3s;
}
.msg_wrap .balloon .ico.ico-textball {
  background: url(../../../images/common/sprite_img.png) no-repeat -76px -348px;
}
.msg_wrap .balloon .ico.ico-like {
  background: url(../../../images/common/sprite_img.png) no-repeat -99px -348px;
}
.msg_wrap .balloon .img_thumb {
  /*width: 200px;
  height: 140px;
  margin-bottom: 15px;
  */
  height:100px;
  max-height : 90px;
  margin : 0px 2px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  transition: all .1s ease-in-out;
}
.msg_wrap .balloon .img_thumb:hover {
  border: 2px solid #e7adad;
}

/* 메일 리스트 UI */
.content_list_wr .mail_wrap {
  display: block;
  width: 100%;
  font-weight: 400;
  border-top: 1px solid #d8d8d8;
  list-style: none;
}
.content_list_wr .mail_wrap li {
  padding: 10px 5px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
}
.content_list_wr .mail_wrap li:hover {
  background: #effcfd;
}
.content_list_wr .mail_wrap li.unread .text_wrap .name,
.content_list_wr .mail_wrap li.unread .text_wrap .subject,
.content_list_wr .mail_wrap li.unread .text_wrap .date {
  font-weight: bold;
  color: #515fc0;
}
.content_list_wr .mail_wrap .text_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content_list_wr .mail_wrap .text_wrap .title_wr {
  display: flex;
}
.content_list_wr .mail_wrap .text_wrap .ico_wr {
  width: 16px;
  margin-right: 10px;
  text-align: center;
}
.content_list_wr .mail_wrap .text_wrap .ico_wr img {
  margin-bottom: 3px;
  width: auto;
  display: inline;
}
.content_list_wr .mail_wrap .text_wrap .ico_wr,
.content_list_wr .mail_wrap .text_wrap .subject_wr {
  display: block;
  min-width : 15px;
}
.content_list_wr .mail_wrap .text_wrap .date_wr {
  display: block;
  width: 120px;
  min-width: 100px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.8;
  text-align: right;
  flex: 0 0 auto;
}
.content_list_wr .mail_wrap .text_wrap .name {
  margin-top: 2px;
  font-size: 13px;
  color: #666;
}
.content_list_wr .mail_wrap .text_wrap .subject {
  height: 20px;
  margin-top: 3px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content_list_wr .mail_wrap .text_wrap .date {
  color: #333;
}
.content_list_wr .mail_wrap .text_wrap .size {
  color: #999;
} 


/* 캘린더 영역 (추후 작업 예정) --------------------- */
.main_split .r_calendar {
  position: relative;
  width: 470px;
  height: 100%;
  background: #fff;
  z-index: 1;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
}

/* 레이아웃 버튼 --------------------- */
.btn_layout_set {
  position: fixed;
  display: flex;
  max-width: 60px;
  height: 60px;
  left: calc(50% - 230px);
  bottom: 30px;
  /* background: #4f4d56; */
  background-image: linear-gradient(135deg, #4f4d56 30%, #6f6f70 100%);
  border-radius: 30px;
  transition: all 0.3s ease;
}
.btn_layout_set:hover {
  max-width: 300px;
  left: calc(50% - 290px);
}
.btn_layout_set img {
  margin: 15px 7px 0 14px;
  left: calc(100% - 15px);
  width: 31px;
  height: 31px;
  transition: all 0.2s ease;
}
.btn_layout_set:hover img {
  margin-left: 24px;
}
.btn_layout_set:hover {
  box-shadow: 7px 7px 16px grey;
}
.btn_layout_set span {
  margin-top: 20px;
  margin-right: 28px;
  /*width: 100px;*/
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;
}
.btn_layout_set:hover span {
  opacity: 1;
  visibility: visible;
}

/* 메인 기본 버튼 */
.quick_alarm_btn {
  position: fixed;
  z-index: 10;
  bottom: 105px;
  right: 500px;
  width: 54px;
  height: 54px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #4678e9 0%, #ed58ee 70%);
}
.quick_alarm_btn:after {
  display: block;
  position: absolute;
  content: '';
  width: 41px;
	height: 35px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: invert(1);
	transition: all 0.2s ease;
  background: url(../../../img/icon/ico_lnb_chat.png) no-repeat;
}
.btn-main-float {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 500px;
  background: #23202b;
  width: 55px;
  height: 55px;
  border-radius: 10px;
  /*box-shadow: 2px 2px 5px grey;*/
  transition: all 0.3s ease;
  z-index: 10;
}
.btn-main-float:hover {
  box-shadow: 7px 7px 16px grey;
  transform: scale(1.05);
}
.btn-main-float span {
  width: 3px;
  height: 15px;
  background: #fff;	
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.btn-main-float span:last-child {
  transform: translate(-50%, -50%) rotate(90deg);
}

#portlet_news .link-thumb{
	/*width: calc(100% - 250px) !important;*/
	width : 150px;
    float: left;
    display: inline;
    position: relative;
}

#portlet_news .link-title{
	font-weight: bold;
	font-size : 16px;
	color : #333;
	margin-top : 3px;
	margin-bottom: 10px;
	width : 100%;
}

#portlet_news .link-summary{
	font-size:13px;
	text-overflow:initial;
	white-space:normal;
	max-height:88px;
	color : #666;
	margin-bottom : 10px;
	overflow: hidden;
	word-break:break-all;
}

#portlet_news .link-site{
	font-size: 12px;
	bottom : 0;
	white-space :nowrap;
	overflow : hidden;
	text-overflow : ellipsis;
}

#portlet_news .tmpimagelist{
	display :flex;
	flex-wrap : wrap;
	justify-content : inhert;
}

#portlet_news .img-content{
	margin-top: 5px;
	width : 32%
}

#portlet_news .portlet_file_li{
	width : calc((100% - 10px) / 2);	
}

#portlet_news .chat-attach:hover{
	/*border : 1px solid #e7adad;*/
}

#portlet_news .btn-file-view{
	position: absolute;
	right: 35px;
	width : 16px;
	height : 16px;
	border-radius : unset;
	transition : 0s;
}

#portlet_news .btn-file-download{
	position: absolute;
	right: 10px;
	width : 16px;
	height : 16px;
	border-radius : unset;
	transition : 0s;
}

#portlet_news{
	padding : 0px 5px 0px 15px;	
	overflow:hidden;
	height : calc(100% - 10px);
}

#channel_top_carosel{
	overflow-x : auto;
	overflow-y : hidden;	
	margin-left:30px;
}



/* 즐겨찾기 메뉴 UI --------------------- */
.main_split .q_folder_list .q_tit {
  display: flex;
  position: relative;
  width: 100%;
  margin-right: 30px;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  vertical-align: top;
  height: 25px;
}
.main_split .q_folder_list .f_between {
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
}
.main_split .q_folder_list .f_between::before {
  display: inline-block;
  content: '';
  background: url(../../../images/common/sprite_img.png) no-repeat -559px -242px;
  opacity: .6;
  width: 16px;
  height: 15px;
  margin: 0px 4px 0 0;
}
.main_split .q_folder_list:first-child {
  padding-top: 0;
}
.main_split .q_folder_list:last-child {
  padding-bottom:66px;
  border-bottom: none;
}
.main_split .q_folder_list .scroll {
  overflow-y: visible;
  max-height: 488px;
}
.main_split .q_folder_list .layer_inner {
  padding: 0;
  max-height: 100%;
}
.tit_bar .tit_noti {
  position: absolute;
  right: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, .5);
  font-weight: medium;
}
.main_split .q_folder_list > div {
  height: 560px;
  /* overflow-x: hidden; */
  /* padding-right: 5px; */
}
.quick_menu_popup .ico {    
  opacity: .3;
  transition: all .1s ease-in-out;
}
.main_split .q_folder_list .ico {    
  opacity: 1;
}
.main_split .q_folder_list ul {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
  }
.main_split .q_folder_list li {
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 66px;
  height: auto;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin: 0 18px 5px 0;
}
.main_split .q_folder_list li span.tit {
  display:-webkit-box;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 37px;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  color: rgba(0, 0, 0, .4);
  padding-top: 5px;
  text-align: center;
  letter-spacing: -0.3px;
}
.main_split .q_folder_list li.on span.tit {
  color: rgba(0, 0, 0, 1);
}
.main_split .q_folder_list li .ico_box {
  display:block;
  position: relative;
  width: 66px;
  height: 66px;
  background: #fff;
  border-radius: 20px;
  transition: all .1s ease-in-out;
}
.main_split .q_folder_list li .ico_box {
  display:block;
  position: relative;
  width: 66px;
  height: 66px;
  border-radius: 20px;
}
.main_split .q_folder_list.on .ico_box {
  border: 1px solid #ee7158;
  background: #fde7da;
}
/* 아이콘 순서별 배경 컬러값  */
.main_split .q_folder_list li .ico_box.bx01 {
  background: #fde6d9;
}
.main_split .q_folder_list li .ico_box.bx02 {
  background: #ffeae7;
}
.main_split .q_folder_list li .ico_box.bx03 {
  background: #faf0d9;
}
.main_split .q_folder_list li .ico_box.bx04 {
  background: #e6f1f7;
}
.main_split .q_folder_list li .ico_box.bx05 {
  background: #fbf5d7;
}
.main_split .q_folder_list li .ico_box.bx06 {
  background: #f7f7f7;
}
.main_split .q_folder_list li .ico_box.bx07 {
  background: #eae2f0;
}
.main_split .q_folder_list li .ico_box.bx08 {
  background: #e6e8f7;
}
.main_split .q_folder_list li .ico_box.bx09 {
  background: #ddebeb;
}
.main_split .q_folder_list li .ico_box.add {
  background: #e2e2e2;
  border: none;
}
.main_split .q_folder_list li:hover span {
  color: #000;
}

.main_split .q_folder_list li .ico_box .ico {
  position: absolute;
  display:flex;
  top:0;
  content:'';
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: none;
}
.main_split .q_folder_list ul li:last-child  {
  padding-bottom: 0;
}
.main_split .q_folder_list h2 {
  text-align: left;
}
.main_split .q_folder_list .lnb_menu_set {
  width: 100%;
  overflow: visible;
}
.main_split .q_folder_list {
  padding-top: 25px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
.main_split .q_folder_list .f_between {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main_split .q_folder_list .f_between::before {
  display: inline-block;
  content: '';
  background: url(../../../images/common/sprite_img.png) no-repeat -559px -242px;
  opacity: .6;
  width: 16px;
  height: 15px;
  margin: 0px 3px 0 0;
}

.main_split .q_folder_list:last-child {
  padding-bottom:10px;
}

/* 아이콘 이미지 */
.main_split .q_folder_list .ico {
  width: 40px;
  height:35px;
  background: url(../../../images/common/sprite_img.png) no-repeat;
}
.main_split .q_folder_list .ico.menu {
  background-position: -258px -345px;
}
.main_split .q_folder_list .ico.work {
  background-position: -304px -390px;
}
.main_split .q_folder_list .ico.chat {
  background-position: -271px -435px;
}
.main_split .q_folder_list .ico.cal {
  background-position: -175px -458px;
}
.main_split .q_folder_list .ico.email {
  background-position: -325px -435px;
}
.main_split .q_folder_list .ico.gather {
  background-position: -340px -390px;
}

.main-set-manual-ly {
	position: absolute;
	top: calc(50% + 10px);
	left: 50%;
	max-width: 1600px;
	max-height: 800px;
	width: calc(100vw - 200px);
	height: calc(100vh - 200px);
	/* background: #ff0000; */
	transform: translate(-50%, -50%);
}

.main-set-manual-ly .owl-carousel,
.main-set-manual-ly .owl-stage-outer,
.main-set-manual-ly .owl-stage,
.main-set-manual-ly .owl-item,
.main-set-manual-ly .manual-item {
	width: 100%;
	height: 100%;
}
.main-set-manual-ly .pop_btn_close {
	filter: invert(1);
	z-index: 100;
}
.main-set-manual-ly .manual-item {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.main-set-manual-ly .manual-item.manual-1 {
	background-image: url(../../../img/layout/main_help_1.png);	
}
.main-set-manual-ly .manual-item.manual-2 {
	background-image: url(../../../img/layout/main_help_2.png);	
}
.main-set-manual-ly.en .manual-item.manual-1 {
	background-image: url(../../../img/layout/main_help_en_1.png);	
}
.main-set-manual-ly.en .manual-item.manual-2 {
	background-image: url(../../../img/layout/main_help_en_2.png);	
}
.main-set-manual-ly .owl-dots {
	text-align: center;
	margin-top: 25px;
}
.main-set-manual-ly .owl-carousel .owl-dot {
	position: relative;
	overflow: hidden;
	margin: 0 8px;
	width: 23px;
	height: 23px;
	border: 1px solid #fff;
	border-radius: 50%;
}
.main-set-manual-ly .owl-carousel .owl-dot::before {
	position: absolute;
	display: inline-block;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform: translateY(100%);
	transition: all .2s ease;
}
.main-set-manual-ly .owl-carousel .owl-dot.active::before {
	transform: translateY(0);
}
.btn-close.manual {
	position: fixed;
    left: auto;
    top: 30px;
    right: 30px;
    width: 46px;
    height: 46px;
    background: none;
}
.btn-close.manual span {
	background: #fff;
	height: 2.5px;
}