
.limit_wr {
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    color: #b5b5b5;
    padding-right: 4px;
    letter-spacing: normal;
}
.limit_wr .num {
    
}
.mu_work {
    background-color: #f7f7f7;
}
.mu_work.mu_container .contents {
    height: calc(100vh - 68px);
    padding: 0;
}







.schedule_wr.alram {
    padding: 0px 0;
}

.schedule_wr {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0;
    background: #fff;

}

.pop_btn_close {
    position: absolute;
    right: 30px;
    top: 35px;
    width: 15px;
    height: 15px;
    background: url(../../../images/common/sprite_img.png) no-repeat -170px -280px;
    cursor: pointer;
}


.alram .close_box {
	display:none;
    padding: 0;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

.alram h2 {
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.alram .aside-inner {
    padding: 0;
	background-color: #fff;
}

.alram .read-st {
    height: 24px;
    line-height: 24px;
    margin-left: 13px;
    padding: 0 11px;
    border-radius: 8px;
    background-color: #eee;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    display: inline-block;
}

#alram_layer input:focus{
	border: solid 1px #fff !important;
    background: #fff !important;
    box-shadow: 0px 2px 22px 5px rgb(0 0 0 / 8%) !important;	
}

#alram_layer input{

    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 22px 5px rgb(0 0 0 / 2%);
    border: solid 1px #e5e5e5;
    background: #fcfcfc;
    transition: all .3s ease;
}


.alram .input-field {
    padding: 0 28px;
}


.alarm-list {
    padding: 18px 10px 0;
    overflow-y: auto;
    height: calc(100vh - 150px);
}

.alarm-list li {
    height: 52px;
    border: solid 1px #fff;
    margin-bottom: 10px;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 21.6px 5.4px rgb(0 0 0 / 5%);
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}


.alarm-type {
    font-size: 12.5px;
    font-weight: bold;
    color: #000;
    height: 24px;
    line-height: 24px;
    padding: 0 11px;
    border-radius: 8px;
    display: block;
    margin-right: 10px;
    background-color: #e5e5e5;
}


.alarm-num {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}


.alarm-list li:hover {
    border: solid 1px #ef7158;
}

.alram .btn_return {
    padding: 0 5px;
    margin-top: 0px;
    display: inline-block;
    line-height: 1;
}

.btn_return .arrow_wr {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
}

.arrow_wr .arrow {
	margin-right: 6px;
    width: 11px;
    height: 16px;
    background: url(../../../images/common/sprite_img.png) no-repeat -30px -92px;
    vertical-align: -2px;
    margin-right: 24px;
    cursor: pointer;
}

.alarm-list.alarm-cont p {
    font-size: 13.5px;
    width: 100%;
}

.alarm-cont .f_between {
    width: 100%;
}

.alarm-cont .f_between span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12.5px;
}

.alarm-cont{
	padding-left : 5px;	
}


.text-elips {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.alarm-list.alarm-cont li {
    padding: 15px 11px;
    flex-flow: column;
    height: auto;
    align-items: flex-start;
    width: 100%;
}



.input-field .xbtn-search-close {
 	cursor: pointer;   
    position: absolute;
    width: 26px;
    height: 26px;
    right: 25px;
    top: 13px;
    background: url(../../../images/common/sprite_img.png) no-repeat -1180px -280px;
}


