<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="=UTF-8">
		<title>K-Portal ONE</title>
		
	
		<link rel="icon" th:href="@{/resource/images/favicon.ico}" type="image/x-icon">
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/jquery-ui.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/jquery-ui.theme.min.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/bootstrap-datepicker.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/daterangepicker.min.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/owl.carousel.min.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/fullcalendar.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/markdown.min.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/gridstack.min.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/mobiscroll.jquery4.min.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/mobiscroll.jquery.min.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/jquery.mentionsInput.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/fancytree.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/merge.css(ver=${cssVer})}">
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/webchat.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/main_org.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/main_home.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/main_alarm.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/fonts.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/musign/common.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/musign/sub/quickmenu.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/musign/sub/main_set.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/kgpt_portalsearch.css(ver=${cssVer})}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/kgpt.css(ver=${cssVer})}">
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/kgptmydata.css(ver=${cssVer})}">
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/ai_notebook.css(ver=${cssVer})}">
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/ai_builder.css(ver=${cssVer})}">
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/alarm_center.css(ver=${cssVer})}">
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/audioplayer.css(ver=${cssVer})}">
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/common.css?open(ver=${cssVer})}">
		<link rel="stylesheet" type="text/css" th:href="@{/resource/css/common_res.css(ver=${cssVer})}">
		
		<script type="text/javascript" th:src="@{/resource/js/common/LAB.js(ver=${jsVer})}"></script>
		<script type="text/javascript" th:src="@{/resource/js/common/jquery.min.js(ver=${jsVer})}"></script>
		<script type="text/javascript" th:src="@{/resource/js/common/mobiscroll.jquery4.min.js(ver=${jsVer})}"></script>
		<script>
			window.mobiscroll4 = mobiscroll;
			$.fn.mobiscroll4 = $.fn.mobiscroll;
		</script>
		<script type="text/javascript" th:src="@{/resource/js/common/mobiscroll.jquery.min.js(ver=${jsVer})}"></script>
		<script type="text/javascript" th:src="@{/resource/js/common/marked.min.js(ver=${jsVer})}"></script>
		<script src="https://unpkg.com/lucide@latest"></script>
		<script>
			// mobiscroll theme global setting
			mobiscroll.setOptions({ theme: 'ios' });
		</script>
		<style>
			.markdown-body hr{
				height:0px;
			}
			.markdown-body h1{
				font-size:1.6em;
				border-bottom: none;

			}
			.markdown-body h2{
				font-size:1.4em;
				border-bottom: none;
				margin-top : 30px;
			}
			.markdown-body h3{
				font-size:1.1em;
			}
			
			.markdown-body table {
				width: 100%;
			}
		</style>
		
		
		
	</head>
	<body>
		
		여기는 index.html페이지 입니다.
	</body>
</html>