@charset "utf-8";

/* *{margin:0; padding:0;} */
html, body {width:100%; height:100%; background:#fff;}

html, body, div, span, p, iframe,
dl, dt, dd, ul, ol, li,
table, caption, thead, tbody, tfoot, tr, th, td, 
a, img, address, hr ,pre, em,
h1, h2, h3, h4, h5, h6,
input, textarea ,select
{text-decoration:none; font-style:normal; font-size:13px; line-height:1; color:#333;
font-family:'Malgun Gothic','맑은 고딕',Dotum,돋움,'Times New Roman',Sans-serif;;}
a {color:#333; text-decoration:none;}

#wsg_wrap {padding:10px 10px 50px; height:100%; box-sizing:border-box; overflow-y:scroll;}
h1 {font-size:24px; padding-bottom:20px; color:#111; text-align:center; vertical-align:middle;}
h1 em {font-size:32px; font-family:'Times New Roman',Sans-serif; vertical-align:middle; position:relative; top:-2px;}
h2 {font-size:28px; margin-top:30px; font-weight:normal; padding-top:10px; padding-bottom:15px; border-top:1px dotted #f65508; color:#f65508;}
h2 span {font-weight:normal; font-size:14px; color:#f65508;}
h2:nth-child(1) {padding-top:10px; padding-bottom:15px; margin-top:0; border-top:none;}


.fl {float:left !important;}
.fr {float:right !important;;}
.clearboth {display:block; height:0; float:none; clear:both;}

.date {padding:10px 0;}
.option {display:inline-block; width:200px; }
.option a {display:block; padding:10px 0; border:1px solid #ccc; border-bottom:none; background:#fff; text-align:center; color:#000; font-weight:bold;}
.option a.on {background:#f0f2f5;}

table {border-collapse:collapse; border-spacing:0; table-layout:fixed;}
.data-table {width:100%;}
.data-table th {border:1px solid #ccc; border-bottom:3px solid #ccc; padding:7px; background:#f0f2f5;}
.data-table td {border:1px solid #ccc; padding:5px 7px; text-align:center; line-height:1.8em;}
.data-table td:first-child {text-align:center;}
.data-table td.left {text-align:left;}
.data-table td.src {text-align:left; font-size:11px; line-height:1.3em; vertical-align:top; color:red;}
.data-table td.src em {color:#f83f06;}
.data-table td b{color:#f82e06;}
.data-table tr.hidden *{color:#ccc !important;}

/* progress    예정:undecided / 진행:working / 완료:complete / 수정:modify */
.progress-list td.state {text-align:center; }
.progress-list td.state.undecided {}
.progress-list td.state.undecided a {color:#ddd;}
.progress-list td.state.working {}
.progress-list td.state.working a {color:#000;}
.progress-list td.state.complete {/* display:block; height:100%; */ font-weight:bold; background:#097c25; box-sizing:border-box; border:1px solid #fff}
.progress-list td.state.complete a {color:#fff; font-weight:bold;}
.progress-list td.state.modify {}
.progress-list td.state.modify a {color:#eb2c00; font-weight:bold;}
.progress-list td pre {line-height:1.5em;}

/* media query option  */
@media only screen and (-webkit-min-device-pixel-ratio:2) and (-webkit-min-device-pixel-ratio:1.5){
	body {-webkit-text-size-adjust:none;}
	input, textarea{-webkit-appearance:none; border-radius:0;}
}

.tt01 {border:1px solid #999;}
.tt01 th {border:1px solid #ddd; padding:10px; background:#f9f9f9; }
.tt01 td {border:1px solid #ddd; padding:10px; text-align:center;}